@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

::-webkit-scrollbar {
    background-color: #eef7ff;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #7ab2b2;
    border-radius: 2px;
}
